<div class="container-fluid">
            <!--  loop through stellarEvents and create list time.
            The list item has buttons for view, save, ical
            -->
<div>start</div>
<!-- blogPost cards -->
<div>
{{#each blogPosts as |blogPost|}}

<div class="clsBlogCard">
  <header class="clsCardHeader">
    <span id:"blogCardTitle" value="{{blogPost.id}}">
    {{blogPost.title}}
    </span>
    <span id:"blogCardTimestamp">
    Posted by {{blogPost.user}} on {{formatDate blogPost.createdAt}}
    </span>
  </header>
    <p id:"blogContent" class="clsCardContent">
    {{blogPost.content}}
    </p>
</div>
{{#if blogPost.BlogComments}}
{{#each blogPost.BlogComments as |blogComment|}}
<div class="clsBlogCard">
  <header>
    <span id:"blogCardTitle">
    Comment
    </span>
  </header>
    <p id:"blogCommentsContent">
    {{blogComment.comment}}
    </p>
</div>

{{/each}}
{{/if}}
{{/each}}

<!-- comment cards -->
<div class="clsCommentCard">
  <header>
    <span id:"title">
      Add Comment
    </span>
    <span id:"timestamp">
    </span>
  </header>
  <div>
    <label class="clsCommentLabel" for="inputComment">Comment</label>
    <textarea name="inputComent" id="inputComment" rows="5" cols="15"></textarea>
    <button class="clsCommentButton" id="createCommentButton">Submit</button>
  </div>
</div>
</div>

<!-- New Post cards -->
<div class="clsNewPostCard">
  <header>
    <span id:"title">
      Create New Post
    </span>
    <span id:"timestamp">
    </span>
  </header>
    <div>
    <label class="clsPostLabel" for="inputNewPostTitle">Title</label>
    <textarea class="clsPostInput" id="inputNewPostTitle" rows="1" cols="15"></textarea>
    <label class="clsPostLabel" for="inputNewPostContent">Content</label>
    <textarea class="clsPostInput" id="inputNewPostContent" rows="5" cols="15"></textarea>
    <button class="clsPostButton" id="createPostButton">Create</button>
  </div>
</div>

<!-- edit post cards -->
<div class="clsEditPostCard">
  <header>
    <span id:"title">
      Edit or Delete Post
    </span>
    <span id:"timestamp">
    </span>
  </header>
    <div>
    <label class="clsPostLabel" for="inputEditPostTitle">Title</label>
    <textarea class="clsPostInput" id="inputEditPostTitle" rows="1" cols="15"></textarea>
    <label class="clsPostLabel" for="inputEditPostContent">Content</label>
    <textarea class="clsPostInput" id="inputEditPostContent" rows="5" cols="15"></textarea>
    <button class="clsPostButton" id="editPostButton">Edit</button>
    <button class="clsPostButton" id="deletePostButton">Delete</button>
  </div>
</div>


<button class="clsNewPostButton" id="newPostButton">+ New Post</button>
</div>

<!-- Included Scripts -->
<script src="./assets/js/home.js"></script>

<script>
  var currentUserId = "{{currentUserId}}"; // Assign the currentUserId from the session
</script>

