<div class="container-fluid">
            <!--  loop through stellarEvents and create list time.
            The list item has buttons for view, save, ical
            -->
<!-- blogPost cards -->
<div>
{{#each blogPosts as |blogPost|}}

<div class="clsBlogCard" id="blogCard">
  <header class="clsCardHeader">
    <span id:"blogCardTitle" value="{{blogPost.id}}">
    {{blogPost.title}}
    </span>
    <span id:"blogCardTimestamp">
    Posted by {{blogPost.user}} on {{formatDate blogPost.createdAt}}
    </span>
  </header>
    <p id:"blogContent" class="clsCardContent">
    {{blogPost.content}}
    </p>
</div>
{{#if blogPost.BlogComments}}
<div id="blogComments" class="clsCardHidden">
{{#each blogPost.BlogComments as |blogComment|}}
<div class="clsBlogCard">
  <header>
    <span id:"blogCardTitle">
    Comment Posted by {{blogComment.user}} on {{formatDate blogComment.createdAt}}
    </span>
  </header>
    <p id:"blogCommentsContent">
    {{blogComment.comment}}
    </p>
</div>

{{/each}}
</div>
{{/if}}
<!-- comment cards -->
<div class="clsBlogCard clsCardHidden" id="newCommentCard">
  <header>
    <span id:"title">
      Add Comment
    </span>
    <span id:"timestamp">
    </span>
  </header>
  <p>
    <label class="clsCommentLabel" for="inputCreateComment">Comment</label>
    <textarea id="inputCreateComment" class="clsInputComment" rows="5" cols="15"></textarea>
    <button class="clsCommentButton" value="{{blogPost.id}}" id="createCommentButton">Submit</button>
  </p>
</div>

<!-- edit post cards -->
<div class="clsBlogCard clsCardHidden">
  <header>
    <span id:"title">
      Edit or Delete Post
    </span>
    <span id:"timestamp">
    </span>
  </header>
    <p>
    <label class="clsPostLabel"   for="inputEditPostTitle">Title</label>
    <textarea class="clsPostInput" id="inputEditPostTitle" rows="1" cols="15"></textarea>
    <label class="clsPostLabel"   for="inputEditPostContent">Content</label>
    <textarea class="clsPostInput" id="inputEditPostContent" rows="5" cols="15"></textarea>
    <button class="clsPostButton" value="{{blogPost.id}}" id="editPostButton">Edit</button>
    <button class="clsPostButton" value="{{blogPost.id}}" id="deletePostButton">Delete</button>
    </p>
</div>

{{/each}}
</div>

<button class="clsNewPostButton" id="newPostButton">+ New Post</button>

<!-- New Post cards -->
<div class="clsBlogCard clsCardHidden" id="newPostCard">
  <header>
    <span id:"title">
      Create New Post
    </span>
    <span id:"timestamp">
    </span>
  </header>
    <p>
    <label class="clsPostLabel" for="inputNewPostTitle">Title</label>
    <textarea class="clsPostInput" id="inputNewPostTitle" rows="1" cols="15"></textarea>
    <label class="clsPostLabel" for="inputNewPostContent">Content</label>
    <textarea class="clsPostInput" id="inputNewPostContent" rows="5" cols="15"></textarea>
    <button class="clsPostButton" id="createPostButton">Create</button>
  </p>
</div>
</div>

<!-- Included Scripts -->
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 
<script src="./assets/js/home.js"></script>

<script>
  var currentUserId = "{{currentUserId}}"; // Assign the currentUserId from the session
</script>

